@model App.Services.Models.Recipe.DetailsRecipeViewModel

<div class="container-fluid m-2" style="background-color:lavender;">
    <div class="row">
        <h4 class="col-md-8 m-2 text-center">@Model.Name</h4>
    </div>
    <div class="row">
        <div class="col-md-6 m-2 text-center">
            <img src="@Model.SmallPictureUrl" alt="Няма изображение" class="shadow-lg rounded" />
        </div>
    </div>
    <div class="row m-md-4">
        <div class="col-md-12">
            @Model.Directions.Method
        </div>
    </div>
    <div class="row m-1">
        <div class="col-md-4 border border-dark rounded m-2 shadow">
            <!-- Ingredients-->
            <h4><u>Продукти</u></h4>
            @foreach (var ingredient in Model.Ingredients)
            {
                <div class="row">
                    <div class="col-md-8 border-success border-bottom">
                        @ingredient.Name
                    </div>
                    <div class="col-md-4 border-success border-bottom">
                        @ingredient.Quantity
                    </div>
                </div>
            }
        </div>
        <div class="col-md-1 m-2">
            <h6>Порции</h6>
            @Model.Directions.Serves
        </div>
        <div class="col-md-2 m-2">
            <h6>Време за подготовка</h6>
            @Model.Directions.PrepTime
        </div>
        <div class="col-md-2 m-2">
            <h6>Време за готвене</h6>
            @Model.Directions.CookTime
        </div>
        <div class="col-md-1 m-2">
            <h6>Сложност</h6>
            @Model.Directions.CookSkill.ToString()
        </div>
    </div>
</div>
<a asp-area="" asp-controller="Comment" asp-action="Create" asp-route-id="@Model.RecipeId">Напиши коментар</a>

@*<partial name="CommentPartial" />*@


<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index" asp-controller="Home">Обратно към Начална страница</a>
</div>
